.dashboard-grid {
  display: flex;
  scrollbar-gutter: stable;
  overflow-y: overlay;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.dashboard-grid > .dashboard-add-project-btn {
  background-color: var(--color-foreground-25);
  align-items: center;
  opacity: 0.5;
}
.dashboard-add-project-btn:hover {
  opacity: 1;
}
.dashboard-add-project-btn > img {
  width: 160px;
  height: 160px;
  opacity: 0.55;
}
.loading-spinner {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: var(--color-foreground);
}