.timers-dashboard {
  overflow: hidden;
  width: 100%;
  flex: 1 1 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.dashboard-grid {
  display: flex;
  height: 100%;
  scrollbar-gutter: stable;
  overflow-y: auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.selected-child {
  position: absolute;
  transform: translate(-50%, -50%);
}
.dashboard-grid > .dashboard-add-project-btn {
  background-color: var(--color-foreground-25);
  align-items: center;
  opacity: 0.5;
}
.dashboard-add-project-btn:hover {
  opacity: 1;
}
.dashboard-add-project-btn > img {
  width: 160px;
  height: 160px;
  opacity: 0.55;
}
.loading-spinner {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: var(--color-foreground);
}