.timer-task {
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  opacity: 0.75;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.timer-task > *,
.timer-task-description,
.timer-task-description input {
  font-family: 'Roboto';
  font-size: 20px !important;
  font-weight: regular;
}

.timer-task-indicator {
  width: 8px;
  height: 8px;
  margin-top: 9px;
  margin-left: 9px;
  border-radius: 50%;
  border: 2px solid var(--color-foreground);
}
.timer-task-indicator > div {
  border-radius: 50%;
  transition: background-color 0.1s ease-out;
}
.timer-task-indicator img {
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0;
  transform: scale(0) rotate(-180deg);
  transition: transform 0.3s ease-out, opacity 0.2s ease-out;
}

.timer-task[aria-selected="true"] {
  font-weight: 600;
}
.timer-task[aria-selected="true"] .timer-task-indicator {
  background-color: var(--color-foreground);
}
.timer-task[is-active="true"] {
  opacity: 1;
}
.timer-task[is-active="true"] .timer-task-indicator {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.timer-task[aria-disabled="true"] {
  opacity: 0.25;
  text-decoration: line-through;
}


.timer-task:hover {
  transform: translateX(5px);
}
.timer-task[aria-disabled="true"][is-active="true"] .timer-task-indicator {
  pointer-events: none !important;
}
.timer-task:not([aria-disabled="true"]):not([is-active="true"]):hover .timer-task-indicator img {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.timer-task-indicator:hover > div {
  transform: scale(1.2);
  background-color: var(--color-foreground-25);
}
