.timer-task {
  width: 100%;
  align-items: center;
  gap: 10px;
  opacity: 0.75;
  min-height: 40px;
  transition: all 0.3s ease-out;
}
.timer-task-description,
.timer-task-description input {
  font-family: 'Roboto';
  font-size: 20px !important;
  font-weight: regular;
}
.timer-task-time {
  font-size: 15px;
  font-weight: regular;
  padding-left: 5px;
}

.timer-task-indicator {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0px;
  transition: all 0.3s ease-out;
}
.timer-task-indicator img {
  margin: 0px;
  opacity: 1;
  display: block;
  width: 30px;
  height: 30px;
}
.timer-task-indicator:hover {
  transform: scale(1.1);
}

.timer-task[aria-selected="true"] {
  font-weight: 600;
}
.timer-task[is-active="true"] {
  opacity: 1;
}
.timer-task[is-active="true"] .timer-task-indicator {
  background-color: var(--color-primary);
}
.timer-task[aria-disabled="true"] {
  opacity: 0.25;
  text-decoration: line-through;
}
