.timer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  background: var(--color-card);
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
  width: 350px;
  height: 540px;
}

.timer-header {
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.timer-header * {
  font-size: 30px;
  text-align: center;
}
.timer-header > button {
  width: 40px;
  transition: background-color ease-in 0.1s, opacity ease-in-out 0.3s, transform ease-out 0.5s, width ease-out 0.5s;
}
.timer-header > button > img {
  width: 40px;
  height: 40px;
}
.timer-header .field-container {
  transition: opacity 0.5s ease-out;
}
.timer-header[is-editing-name="true"] > button {
  opacity: 0 !important;
  pointer-events: none;
  width: 5px;
}
.timer-header[is-editing-name="true"] > button:first-child {
  transform: translateX(-80%);
}
.timer-header[is-editing-name="true"] > button:last-child {
  transform: translateX(80%);
}

.timer-timer-container {
  --circle-size: 300px;

  border-width: 0;
  flex: 1 0 var(--circle-size);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.timer-timer-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--circle-size);
  height: var(--circle-size);
  margin: auto;
}
.timer-actions-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
