/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body[data-theme="dark"] {
  --color-background: #020202;

  --color-foreground: #fff;
  --color-foreground-100: var(--color-foreground);
  --color-foreground-75: rgba(var(--color-foreground), 0.75);
  --color-foreground-15: rgba(var(--color-foreground), 0.15);
  --color-foreground-5: rgba(var(--color-foreground), 0.05);

  --brightness-change: 1.1;
}

body[data-theme="light"] {
  --color-background: #e6e6e6;

  --color-foreground: #000000;
  --color-foreground-100: var(--color-foreground);
  --color-foreground-75: rgba(var(--color-foreground), 0.75);
  --color-foreground-15: rgba(var(--color-foreground), 0.15);
  --color-foreground-5: rgba(var(--color-foreground), 0.05);

  --brightness-change: 0.9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  color: var(--color-foreground );
  background: var(--color-background);
  font-family: 'Inter', sans-serif;
}

button {
  background-color: var(--color-foreground-15);
  color: var(--color-foreground);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  filter: brightness(1);
}

button:hover {
  filter: brightness(--brightness-change);
}
