.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-grow {
  flex-grow: 1;
}
.justify-center {
  justify-content: center;
}

.no-background {
  background: none !important;
}

.w-100 {
  width: 100%;
}

.overflow-auto {
  overflow: auto;
}
